body {
  padding-top: 50px;
  color: white;
  background-color: black;
  font-family: Helvetica;
}

h1 {
  margin-right: 3%;
}

.starter-template {
  padding: 15px 15px;
  text-align: center;
}

.game_square {
  border: 5px solid white;
  padding: 10px;
  border-radius: 15px;
  display: inline-block;
  margin-top: 1px;
  margin-bottom: 1px;
}

.cya {
  border: 5px solid cyan;
  padding: 10px;
  border-radius: 15px;
  display: inline-block;
  margin-top: 1px;
  margin-bottom: 1px;
}
.mag {
  border: 5px solid magenta;
  padding: 10px;
  border-radius: 15px;
  display: inline-block;
  margin-top: 1px;
  margin-bottom: 1px;
}
.yel {
  border: 5px solid yellow;
  padding: 10px;
  border-radius: 15px;
  display: inline-block;
  margin-top: 1px;
  margin-bottom: 1px;
}

#scorebox {
  border: 3px solid white;
  display: inline-block;
  border-radius: 7px;
  background-color: black;
  padding: 3px 10px 3px 10px;
  text-align: center;
}

#x_first {
  border-radius: 7px;
  background-color: black;
  margin-top: 18px;
  margin-bottom: 10px;
  margin-left: 42.8%;
  padding: 15px 15px;
  text-align: center;
}

#refresh {
  border-radius: 7px;
  background-color: black;
  margin-top: 18px;
  margin-bottom: 10px;
  margin-left: 11%;
  margin-right: -1.65%;
  padding: 15px 15px;
  text-align: center;
  display: inline-block;
}

.black {

}

/*@media (max-width: 755px) {
  #refresh {
    display: none;
  }
  #scorebox {
    display: none;
  }
}*/
